GATEWAY_PORT=8080
COMPOSE_PROJECT_NAME=equipose-core

APP1_NAME=app1
APP1_IMAGE=nginxdemos/hello:plain-text
APP1_PORT=80
DB1_NAME=app1
DB1_USER=app1
DB1_PASSWORD=app1

APP2_NAME=app2
APP2_IMAGE=nginxdemos/hello:plain-text
APP2_PORT=80
DB2_NAME=app2
DB2_USER=app2
DB2_PASSWORD=app2

APP3_NAME=app3
APP3_IMAGE=nginxdemos/hello:plain-text
APP3_PORT=80
DB3_NAME=app3
DB3_USER=app3
DB3_PASSWORD=app3

# Developer Portal
DOCS_PORT=8000
