# Local Container Configuration Settings
# This file serves as a template for overriding docker container settings

# Node environment setting
NODE_ENV=development

# Database configuration options
POSTGRES_MAX_CONNECTIONS=100
POSTGRES_LOG_STATEMENT=all

# Traefik configuration options
TRAEFIK_API_DASHBOARD=true
TRAEFIK_LOG_LEVEL=INFO
